

:root{
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  /*Gradiant*/
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

}
@font-face {
  font-family: 'MiFuente';
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
 
}

body{
  display: grid;
  place-content: center;
  min-height: 100vh;
  font-family: 'Hanken Grotesk', sans-serif;
  
}

main{
  display: flex;
  box-shadow: 5px 7px 10px rgba(58, 48, 48, 0.123);
  background-color: white;
  border-radius: 20px;
  min-width: 640px; 
  margin: auto;
  position: relative;
  font-family: 'Hanken Grotesk';
  
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to bottom,var(--Light-slate-blue), var(--Light-royal-blue));
  border-radius: 20px;
  width: 100%;

}

h2{
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  margin: 40px;
  opacity: 0.6;
}
.box-circle{
  display: flex;

  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom,var(--Violet-blue), var(--Persian-blue));  
  margin: 0;
  min-width: 160px;
  min-height: 160px;
  border-radius: 100vmax;
  
}

.text{
 display: flex;
 flex-direction: column;
 margin: 0;
 padding: 0;
}

h3 {
  color: white;
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

p{
  margin: 0;
  color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
opacity: 0.6;
font-weight: 600;
}

.box-footer > h3 {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}

.box-footer > p {
  text-align: center;
  max-width: 220px;
  margin-bottom: 30px;
}
.second-box{
  display: flex;
  flex-direction: column;
  
  width: 100%;
}

.second-box-div{
  margin: 40px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.second-box-div > h2{
 color: black;
 opacity: 1;
 margin: 0;
 margin-bottom: 30px ;
}

.card {
  
  display: flex;
  justify-content: space-around;
  max-height: 50px;
  border-radius: 10px;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

.card > p {
  color: black;
  opacity: 1;
  font-weight: 700;
}

span{
  opacity: 0.7;
  font-weight: 500;
}


.box1{
    background-color: rgba(224, 18, 18, 0.144);
    color: rgb(170, 68, 54);
}

.box2{
    background-color: rgba(241, 217, 0,0.199);
    color: rgba(236, 175, 5, 0.836);
}
.box3{
    background-color: rgba(115, 255, 0, 0.199);
    color: rgba(24, 230, 6, 0.842);
}
.box4{
    background-color: rgba(148, 138, 138, 0.199);
    color: rgba(45, 56, 160, 0.808);
}


button{
  padding: 15px;
  margin:  30px 0 5px 0;
  border: none;
  background-color: #0d0d2cc0;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}



@media (max-width: 670px) {
  main {
    flex-direction: column;
    min-width: 375px;
  }

  .box{
   margin: 0;
   padding: 0;
   max-width: 100%;
   
  }

  .second-box-div{
    margin: 20px;
  }
}