:root{
    --Pupler: hsl(259,100%,65%);
    --Light-red: hsl(0, 100%, 67%);

    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);

    --font-size: 32px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: var(--Off-white);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main{
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: var(--White);
    max-width: 600px;
    border-radius: 20px 20px 120px 20px;
    margin: 20px;
} 


.form-text{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    font-weight: 600;
    color: var(--Off-black);
    
}

.form-input{
    display: flex;
    max-width: 70%;
    gap: 20px;
   
}


.form-text > input{
    padding: 10px;
    width: 100%;
    min-width: 100px;
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    margin-top: 10px;
}

.input{
    border: 1px solid var(--Off-white);
}

.arrow{
    display: flex;
    align-items: center;
}

hr{
    opacity: 0.2;
}

.arrow-container-circle{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: var(--Pupler);
    border-radius: 100vmax;
    border: none;
    cursor: pointer;
}

.arrow-circle{
  padding: 16px;
  max-width: 60px;
  text-align: center;
}

.arrow-container{
   
    width: 100%; 
}


.result-text{
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 900;
    font-style: italic;
}

span{
    letter-spacing: 8px;
    color: var(--Pupler)
}

.arrow-container-circle:hover{
    background-color: var(--Off-black);
   
}

.form-text > input:hover{
    border-color: var(--Pupler);
    cursor: pointer;
}
input:focus{
    border-color: var(--Pupler);
    
    outline: 0 none;
}


.error{
    
    font-size: 10px;
    letter-spacing: 0;
    font-style: italic;
    text-transform: none;
    font-weight: normal;
    min-height: 15px;
}


@media (max-width: 375px) {
   
    .main{
        max-width: 375px;
        padding: 30px;
        justify-content: center;
       
    }
    .form-input{
      
        max-width: 100%;
       
    }
    .form-text > input {
    
    min-width: 0;
    padding: 15px;
      
    }
    .form{
        width: 100%;
         margin-top: 20px;
    }
    .arrow{
        position: relative;
        margin: 40px 0;
    }

    .result{
        margin-bottom: 20px;
        line-height: normal;
      
    }

    .result-text{
        font-weight: 400;
        line-height: normal;
        font-size: 2.4rem;
        
    }

    .button-submit{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }